.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper h1 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    color: rgba(225, 225, 225, 0);
    background-image: url(629517.jpg);
    background-repeat: repeat;
    -webkit-background-clip: text;
    animation: animate 15s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

body {
    background-color: black;
}

@keyframes animate {
    0%,
    100% {
        background-position: left top;
    }
    25% {
        background-position: right bottom;
    }
    50% {
        background-position: left bottom;
    }
    75% {
        background-position: right top
    }
}
